<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro</title>
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
    crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../assets/css/general.css">
</head>
<body>
    <div id="main_container">
        <img src="../assets/img/img_registro.png" alt="imagen_inicio_sesion" id="img-main">
        <form action="../backend/conexion.php?accion=crear" method="post" id="schedule-session">
            <h1>Comienza tu registro</h1>

            <label for="" class="form-label">Nombres:</label>
            <input class="form-control schedule-session-2" type="text"placeholder="Ingresa tu nombre" name="nameUser"/>

            <label for="" class="form-label">Apellidos:</label>
            <input class="form-control" type="text" placeholder="Ingresa tu apellido" name="lastnameUser"/>

            <label for="" class="form-label">Correo Electrónico:</label>
            <input class="form-control" type="email" placeholder="Ingresa tu correo" name="email"/>

            <label for="" class="form-label">Contraseña:</label>
            <input class="form-control" type="password" placeholder="Ingresa tu contraseña" name="password"/>

            <label for="" class="form-label">Confirmar contraseña:</label>
            <input class="form-control" type="password" placeholder="Ingresa nuevamente tu contraseña" name=""/>

            <label for="" class="form-label">Eres un:</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="rol" id="flexRadioDefault1" value="1"/>
                <label class="form-check-label" for="flexRadioDefault1">Estudiante</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="rol" id="flexRadioDefault2" value="2" checked/>
                <label class="form-check-label" for="flexRadioDefault2">Tutor</label>
            </div>

            <div class="botones">
                <button href="../backend/conexion.php" class="btn btn-outline-primary button-main"
                >Registrar</button>
            </div>
        </form>
    </div>
</body>
</html>
