<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work In Progress</title>
    <!-- CSS personal -->
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/layout.css">
</head>
<body id="work-in-progress-body">
    <div id="container-work-in-progress">
        <img src="../assets/img/img-work-in-progress.png" alt="In Progress">
    </div>
</body>
</html>