<footer id="footer-component">
    <div id="text-footer">
        <p>Tutor Connect</p>
        <p>Correo: tutorconnect@gmail.com</p>
        <p>Telefono: 3053053131</p>
        <p>Todos los derechos reservados 2025.</p>
    </div>
    <div id="social-media">
        <a href="https://www.instagram.com" target="_blank">
            <img src="../assets/img/instagram.png" alt="Instagram" id="social-icon">
        </a>
        <a href="https://www.whatsapp.com/" target="_blank">
            <img src="../assets/img/whatsapp.png" alt="Whatsapp" id="social-icon">
        </a>
        <a href="https://www.facebook.com" target="_blank">
            <img src="../assets/img/facebook.png" alt="Facebook" id="social-icon">
        </a>
    </div>
</footer>