<header>
    <div id="header-component">
        <div id="left-block">
            <img src="../assets/img/logo_tutor_connect.jpg" alt="logo_tutor_connect" id="logo-header">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul id="nav-links" class="navbar-nav"></ul>
                    </div>
                </div>
            </nav>
        </div>
        <div id="right-block">
            <div id="block-name-user">
                <span id="name-user"></span>
                <span id="type-rol"></span>
            </div>
            <img id="logo-profile" src="../backend/routes/getFoto.php" alt="logo-profile">
        </div>
    </div> 
</header>