/* --- RESET BÁSICO --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: sans-serif;
    line-height: 1.5;
    background-color: #fff;
    color: #000;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
    border: none;
    outline: none;
    background: none;
}

a {
    /* text-decoration: none; */
    color: inherit;
}

ul, ol {
    list-style: none;
}
/* --- RESET BÁSICO --- */

#main_container{
    background-color: #E2E2E2;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#img-main {
    height: 100vh;         
    width: auto;           
    object-fit: cover;     
    display: block;        
}

.old_password {
    color: #0000FF;
    padding: 5px 0 20px 0px;
}

#title-login {
    margin: 0 0 45px 0;
    font-weight: 900;
}

#schedule-session {
    width: 100%; /* o 100% con max-width */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.form-label {
    width: 50%;
    text-align: left;
    margin-top: 5px;
    font-weight: 600;
    /* display: flex;
    justify-content: flex-start; */
}

.schedule-session-2 {
    width: 50%;
}

.form-check{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.form-check-label {
    margin-left: 10px;
}

.credentials-login{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}




