/* Style header */
    
#header-container {
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

#header-component {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#right-block {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#block-name-user {
    display: flex;
    flex-direction: column;
}

#name-user {
    font-size: 1.2em;
    color: #000000;
    font-weight: bold;
}

#type-roll {
    font-size: 0.9em;
    text-align: center;
}

#logo-profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
}

/* Style footer */

#footer-container {
    background-color: #0400C1;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 10px 0 10px 0;
}

#footer-component {
    color: white;
}

#text-footer p {
    font-size: 0.8rem;
    margin-bottom: auto;
}

#social-media {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#work-in-progress-body {
    display: flex;
    justify-content: center;
    height: 100vh;
}

#container-work-in-progress {
    display: flex;
    align-items: center;
}