#main-content {
    min-height: calc(100vh - 92.8px);
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    
}

#main-content-profile {
    background-color: #E2E2E2;
    width: 95%;
    min-height: calc(70vh - 120px);
    margin-top: 50px;
    margin-bottom: 120px;
    border-radius: 10px;
}

#profile-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 20px 0;
}

#profile-content-form {
    height: 80%;
}

#profile-content-form {
    display: flex;
    justify-content: space-around;
}

#profile-picture-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#profile-info-container-part-two {
    display: flex;
    justify-content: flex-start;
}
